$sansFontFamily: 'proxima-nova' , avenir, helvetica , arial, sans-serif;
$serifFontFamily: 'minion-pro', georgia, times, serif;

$blue: #6cbde5;
$black: #424242;
$light-gray: #eee;
$gray: #ddd;
$green: #7DCF6E;
$custred: #ef6343;

$iconSpritePath: "/images/glyphicons-halflings.png?1361307576";
$iconWhiteSpritePath: "/images/glyphicons-halflings-white.png?1361307576";