@import "vars";
@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
	color: $black;
	overflow-x: hidden;
}

p {
	font-family: $serifFontFamily;
	font-size: 21px;
	line-height: 1.3;
}

.right {
	text-align: right;
	float: right;
}

.center {
	text-align: center;
}

* {
	@include box-sizing(border-box);
}

a {
	color: $blue;
	@include transition (color .2s ease);
	&:hover {
		color: $black;
		text-decoration: none;
	}
}

.search-bar {
	#appendedInputButton {
		width: 80%;
		color: $black;
		font-size: 2em;
		padding: .5em;
	}
	
	.btn {
		width: 20%;
	}
}

input[type="text"], .search-bar .btn {
	font-family: $sansFontFamily;
	font-weight: 400;
	height: auto !important;
	line-height: 1.6 !important;
	font-size: 24px !important;
	padding: 12px 24px !important;
	margin-top: 0 !important;
}

.search-bar.on-white {
	input[type="text"] {
		border: 1px solid $blue;
	}
	.btn-success {
		background-color: $white;
		color: $blue;
		border: 1px solid $blue;
		&:hover {
			background-color: $light-gray;
		}
	}
}

::-webkit-input-placeholder {
   margin-bottom: 0;
   padding-bottom: 0;
}

.dropdown-menu {
	border-radius: 0;
	background-color: $blue;
	color: $white;
	border: none;
	padding: 1em;
	li a {
		margin-left: 0;
		color: $white;
		padding: 3px 7px;
		@include transition(all 0s ease);
		&:hover {
			background: $white;
			color: $black;
		}
	}
}


.hide-book {
	opacity: .7;
}

.circle {
	border-radius: 50%;
	padding: 2em;
	background-color: $blue;
}

.homepage-text h3 {
	text-align: center;
}

.homepage-text p {
	padding: 0 .5em;
}

.homepage-content {
	margin: 2em auto 4em auto;
	h2 {
		margin-bottom: 2em;
	}
}


.btn {
	@include transition(background .2s ease);
	background-image: none;
	outline: none;
	border: none;
	border-radius: 0;
	text-shadow: none;
	&.btn-primary {
		background-color: $blue;
		&:active {
			background-color: #58A6CC;
		}
	}
	
	&.btn-success {
		background-color: $green;
	}
}

.label.label-success {
	background-color: $green;
}

.page-label {
	background-color: $green;
	color: $white;
	padding: 1em;
	margin: 0 0 2em 0;
	display: inline-block;
}

.navbar .navbar-inner{
	background-color: $blue;
	background-image: none;
	box-shadow: none;
	padding-top: 2em;
	padding-bottom: 1.3em;
	
	.brand:before {
		width: 35px;
		height: 35px;
		background-image: url("../images/logo.png");
		background-size: contain;
		display: inline-block;
		content:"";
		margin-top: -10px;
		margin-right: 12px;
	}
	
	.brand {
		vertical-align: top;
	}
	.nav > li > a , .brand {
		text-shadow: none;
		color: $white;
	}
	
	.nav > li > a {
		
		@include transition(color .2s ease);
	
		&:hover {
		background-color: inherit;
		color: $black;
		}
		
		&:last-child {
			padding-right: 0;
			margin-right: 0;
		}
	}
	
	.btn-navbar {
		background-color: transparent;
		background-image: none;
		border: none;
		outline: none;
		text-shadow: none;
		box-shadow: none;
		
		.icon-bar {
			box-shadow: none;
		}
	}
}

.page-header {
	padding: 4em;
	background-color: $blue;
	border-top: 1px solid $white;
	margin: 0;
	color: $white;
	h2:first-of-type {
		margin-top: 0;
		border-top: 0;
		line-height: 1;
	}
	
	p {
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	
	.label {
		font-weight: normal;
		font-size: 16px;
		&.label-important {
			background-color: $custred;
		}
	}
}

.search {
	background-color: $blue;
	border-top: 1px solid $white;
	padding: 3em 0;
	border-bottom: 1px solid $white;
}

.big-book {
	img {
		float: left;
	}
	.btn {
		float: left;
		padding: 1em 0;
		margin: 0;
		width: 50%;
	}
}

.single-book {
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.tags {

	.label-inverse a {
		color: $white;
		text-shadow: none;
		&:hover {
			color: $blue;
		}
	}
}

.book {
	background-color: $light-gray;
	margin-bottom: 2em;
	overflow: hidden;
	
	.book-inner {
		padding: 1em 1em 0 1em;
		position: relative;
	}
	
	.book-info {
		position: absolute;
		bottom: 0;
		left: 35%;
		margin-top: 1em;
	}
	
	.book-descrip {
		background-color: #ddd;
		margin-top: 1em;
	}
	
	.book-title {
		background-color: $blue;
		color: $white;
		padding: .3em 1em;
	}
	
	.book-actions .span6 {
		margin:0;
		width: 50%;
		padding: 1em 0;
	}
	
	h5 {
		font-size: 21px;
		margin: 0 0 .5em 0;
		padding: 0 0 .2em 0;
		border-bottom: 1px solid $gray;
	}
	
	h6 {
		font-size: 21px;
		font-weight: 400;
		margin: 0 0 .5em 0;
		padding: 0 0 .2em 0;
		&:first-of-type {
			border-bottom: 1px solid $gray;
		}
	
	}
	
}

.search-results {
	h2 {
		margin-top: 1em;
	}
	
	.module-label p {
		font-family: $sansFontFamily;

	}
	
	.module-label {
		border-bottom: 1px solid $blue;
		padding-bottom: 1em;
		margin-bottom: 2em;
	}
}

.pagination {
	border-bottom: 1px solid $blue;
	padding-bottom: 2em;
	height: 70px;

	ul {
		box-shadow: none;
		
		li a {
			border: none;
			background-color: $blue;
			color: $white;
			margin-right: 1px;
			@include transition (background .2s ease);
			&:first-of-type, &:last-of-type {
				border-radius: 0;
			}
			
			&:hover {
				background-color: $green;
			}
		}
	}
}

.refine-search {
	input[type="text"] {
		border: 1px solid $blue;
		line-height: 1.6;
		color: $black;
	}
}

footer {
	background-color: $blue;
	padding: 2em 0 4em 0;
	font-size: 21px;
	line-height: 28px;
	color: $white;
	.container {
		border-top: 1px solid $white;
		padding-top: 2em;
	}
	
	.footer-logo {
		width: 50px;
		text-align: center;
	}
}

input[type="text"] {
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	padding: 1em;
	font-family: $sansFontFamily;
}

.tag-browsing .label {
	font-size: 1.5em;
	line-height: 2.5em;
	margin-right: .5em;
	border-radius: 0;
	padding: .4em;
	
	&:hover {
		background-color: $blue;
	}
	a {
		color: $white;
		&:hover {
			text-decoration: none;
		}
	}
}

.tag-browsing {
	margin-top: 2em;
	border-bottom: 1px solid $blue;
}

.single-result {
	margin-top: 2em;
	margin-bottom: 2em;
	
	h3 {
		margin-top: 0;
		padding-top: 0;
	}
	
	.label.label-success a {
		color: $black;
		text-shadow: none;
		&:hover {
			color: $white;
		}
	}
	
	.label.label-inverse a {
		color: $white;
		text-shadow: none;
	}
	
	.label.label-inverse a:hover {
		color: $green;
	}
}

.browse .controls {
	padding: 2em 0;
}

.tag {
	margin-right: 1em;
	display: inline-block;
}

.browse-search {
	input {
		width: 80%;
		border: 1px solid $blue;
		font-size: 2em;
		line-height: 1.6;
		color: $black;
		padding: 0em;
	}
}

.browse {
	padding: 2em 0;
}

.browse-book {
	position: relative;
	margin-bottom: 2em;
	@include transition (opacity .2s ease);
	
	h3 {
		font-size: 24px;
		color: $white;
	}
	.browse-info {
		@include transition (opacity .2s ease);
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $blue;
		width: 100%;
		padding: 1em;
		h3 {
			padding: 0;
			margin: 0;
		}
	}
	
	.browse-actions {
		@include transition (opacity .2s ease);
		opacity: 0;
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		.btn {
			width: 50%;
			padding: .5em 0;
		}
	}
	&:hover {
		.browse-info {
			opacity: 1;
		}
		.browse-actions {
			opacity: 1;
		}
	}
}

.read-content {
	margin-top: 3em;
	.read-progress {
		font-weight: bold;
		font-size: 1.5em;
		padding: 1em 0;
	}
	.article-info {
		margin-top: 1em;
	}
	
}

.jump-to {
	margin-top: 16px !important;
}

.section-navigation {
	.pager {
		border-top: 1px solid $gray;
		padding-top: 2em;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

.my-library {
	padding: 4em 0 2em 0;
	.browse-book {
		.browse-actions{
			a.btn.btn-success {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		margin: 0;
		padding: 0;
	}
	
	.container {
		margin: 25px;
	}
	
	.navbar .container {
		margin: 0;
	}
}